always-auth=true
strict-ssl=false
registry=https://inditex.jfrog.io/inditex/api/npm/node-public/
http://registry.npmjs.org/
email=cesarebg@bershka.com
legacy-peer-deps=true
//inditex.jfrog.io/inditex/api/npm/node-public/:_auth=Y2VzYXJlYmdAYmVyc2hrYS5jb206QUtDcEJydkc3S3FUZUNhcjJLa0xyMnE4Z0hFVVpNVXQxaUpCNzNVeFFGYmhZNzFjYlBmZ0h1RFRURVlGTkNUb2Z5eWR1ZmVkOQ==
